---
- name: Actualizar índice de paquetes
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Instalar dependencias para Docker
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
  when: ansible_os_family == "Debian"

- name: Instalar Docker (docker.io)
  apt:
    name: docker.io
    state: present
  when: ansible_os_family == "Debian"

- name: Instalar plugin de Docker Compose (si está disponible)
  apt:
    name: docker-compose-plugin
    state: present
  when: ansible_os_family == "Debian"

- name: Habilitar y arrancar servicio Docker
  systemd:
    name: docker
    state: started
    enabled: true
